.projects {
    width: 100%;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10rem 8rem;
        justify-content: space-between;
    }

    &__list_item {
        width: 100%;
        max-width: calc(50% - 4rem);
        position: relative;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        
       
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        h2 {
            font-size: 2.4rem;
            font-weight: normal;
            display: inline;
            margin: 3rem 0 2rem;
            display: inline-block;
        }

        &_tag {
            font-size: 1rem;
            display: inline-block;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 10rem;
            color: inherit;
            vertical-align: middle;
            cursor: default;
            text-decoration: none;
            border: 1px solid var(--foreground);
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.3;
        }

        a {
            display: inline-block;
            width: 100%;
            overflow: hidden;

            @media (hover: hover) {
                &:hover {
                    .projects__list_img {
                        img {
                            transform: scale(1.05);
                        }
                    }

                    h2 {
                        background-size: 100% 1px;
                    }
                }
            }
        }

         &:nth-child(1), &:nth-child(4), &:nth-child(5) {
            max-width: 100%;
        }
    }

    &__list_img {
        width: 100%;
        aspect-ratio: 3 / 2;
        background-color: #d6d6d5;
        overflow: hidden;
        border-radius: 0;
        transition: border-radius 0.3s ease-in-out;
        border-radius: 5rem;

        img {
            width: 100%;
            display: block;
            height: auto;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
            object-fit: cover;
            height: 100%
        }
    }

    @media (max-width: 800px) {
        &__list {
            flex-direction: column;
            gap: 6rem;
        }

        &__list_item {
            max-width: 100%;
        }
    }

    @media (max-width: 500px) {
        &__list_item h2 {
            font-size: 2rem;
        }
    }
}