.projects {
    width: 100%;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-between;
    }

    &__list_item {
        width: 100%;
        max-width: calc(50% - 1.5rem);
        position: relative;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        h2 {
            font-size: 2.4rem;
            font-weight: normal;
            display: inline;
            background: linear-gradient(var(--foreground), var(--foreground)) left bottom no-repeat;
            background-size: 0 1px;
            transition: background-size 0.5s ease-in-out;
        }

        p {
            margin: 1.5rem 0 0.75rem;
        }

        &_tag {
            font-size: 1.2rem;
            display: inline-block;
            margin-right: 0.4rem;
            padding: 0.08rem 0.4rem;
            background-color: rgba(0,0,0,0.03);
            color: inherit;
            border-radius: 0.3rem;
            vertical-align: middle;
            cursor: default;
            text-decoration: none;
        }

        a {
            display: inline-block;
            width: 100%;
            overflow: hidden;

            @media (hover: hover) {
                &:hover {
                    .projects__list_img {
                        border-radius: 2rem;

                        img {
                            transform: scale(1.05);
                        }
                    }

                    h2 {
                        background-size: 100% 1px;
                    }
                }
            }
        }
    }

    &__list_img {
        width: 100%;
        aspect-ratio: 3 / 2;
        background-color: #d6d6d5;
        overflow: hidden;
        border-radius: 0;
        transition: border-radius 0.3s ease-in-out;

        img {
            width: 100%;
            display: block;
            height: auto;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }
    }

    @media (max-width: 800px) {
        &__list {
            flex-direction: column;
            gap: 6rem;
        }

        &__list_item {
            max-width: 100%;
        }
    }

    @media (max-width: 500px) {
        &__list_item h2 {
            font-size: 2rem;
        }
    }
}