.project__container {
  width: 100%;

  img {
    width: 100%;
    display: block;
    height: auto;
  }
}

.project__hero {
  max-height: calc(100vh - 10rem);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  picture,
  img,
  source {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
  }
}

.project__image {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 12rem;
  display: flex;
  flex-direction: column;

  figcaption {
    margin: 3rem auto 0;
    padding: 0 3rem;
    text-align: center;
    color: #767676;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &:has(.project__image--smaller) {
    max-width: 100rem;
  }

  &:has(figcaption) {
    margin: 0 auto 8rem;
  }
}

.project__description {
  margin: 12rem 0 0;
  padding: 0 calc(2rem + 2.5vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6rem;

  h2 {
    flex-basis: 90rem;
    font-weight: normal;
  }
}

.project__contribution {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.project__contribution-item {
  margin-bottom: 0.8rem;

  &::marker {
    font-size: 0.8em;
  }
}

.project__prototype {
  flex-basis: 20rem;
  color: var(--grey);
  font-size: 2.8rem;
}

.project__link {
  border: 1px solid var(--foreground);
  border-radius: 6rem;
  padding: 1.6rem 2rem;
  position: relative;
  overflow: hidden;
  font-size: 2.8rem;
  cursor: pointer;
  align-self: flex-start;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    transform: translateY(8rem);
    transition: all 0.3s ease-in-out;
  }

  @media (hover: hover) {

    &:hover,
    &:focus,
    &:active {
      &::before {
        transform: translateY(0);
      }
    }
  }

  &.project__link--bam-orange {
    --orange: #DD6337;
    border-color: var(--orange);
    color: var(--orange);

    @media (hover: hover) {

      &:hover,
      &:focus,
      &:active {
        color: var(--background);

        &::before {
          background-color: var(--orange);
        }
      }
    }
  }

  &.project__link--gvn-green {
    --green: #5AAC1C;
    border-color: var(--green);
    color: var(--green);

    @media (hover: hover) {

      &:hover,
      &:focus,
      &:active {
        color: var(--background);

        &::before {
          background-color: var(--green);
        }
      }
    }
  }

  &.project__link--dohn-dark-green {
    --dark-green: #00461C;
    border-color: var(--dark-green);
    color: var(--dark-green);

    @media (hover: hover) {

      &:hover,
      &:focus,
      &:active {
        color: var(--background);

        &::before {
          background-color: var(--dark-green);
        }
      }
    }
  }

  &.project__link--mba-dark-blue {
    --dark-blue: #012A7D;
    border-color: var(--dark-blue);
    color: var(--dark-blue);

    @media (hover: hover) {

      &:hover,
      &:focus,
      &:active {
        color: var(--background);

        &::before {
          background-color: var(--dark-blue);
        }
      }
    }
  }

  &.project__link--t2w-dark-blue {
    --dark-blue: #195190;
    border-color: var(--dark-blue);
    color: var(--dark-blue);

    @media (hover: hover) {

      &:hover,
      &:focus,
      &:active {
        color: var(--background);

        &::before {
          background-color: var(--dark-blue);
        }
      }
    }
  }

  &.project__link--jtv-light-green {
    --light-green: #afcb08;
    border-color: var(--light-green);
    color: var(--light-green);

    @media (hover: hover) {

      &:hover,
      &:focus,
      &:active {
        color: var(--background);

        &::before {
          background-color: var(--light-green);
        }
      }
    }
  }
}

.project__details {
  width: 100%;
  max-width: 90rem;
  margin: 6rem 0 12rem;
  padding: 0 calc(2rem + 2.5vw);
  display: flex;
  gap: 9rem;
}

.project__details-item {
  flex-basis: 12rem;
  flex-shrink: 0;

  h3 {
    margin-bottom: 3rem;
  }
}

.project__details-item--contr {
  flex-basis: 60rem;
  flex-shrink: 1;

  p {
    max-width: 43rem;
  }
}

.project__navigation {
  margin-bottom: 12rem;
  padding: 0 3rem;
  text-align: center;

  h2 {
    font-weight: normal;
  }
}

.project__link-next {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--foreground);
    opacity: 0;
    transform: translateY(5px);
    transition: opacity .3s cubic-bezier(.645, .045, .355, 1),
      transform .3s cubic-bezier(.645, .045, .355, 1);
  }

  @media (hover: hover) {
    &:hover::after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 1400px) {
  .project__description {
    margin: 8rem 0 0;
  }

  .project__details {
    margin-bottom: 8rem;
  }
}

@media (max-width: 800px) {

  .project__link,
  .project__prototype {
    font-size: 4vw;
  }

  .project__image {
    margin: 0 auto 9rem;

    &:has(figcaption) {
      margin: 0 auto 6rem;
    }

    figcaption {
      margin: 1.5rem auto;
    }
  }

  .project__navigation {
    margin-bottom: 6rem;
  }

  .project__details {
    flex-direction: column;
    gap: 3rem;
  }

  .project__details-item,
  .project__details-item--contr {
    flex-basis: 0;
  }
}

@media (max-width: 600px) {

  .project__link,
  .project__prototype {
    font-size: 2.4rem;
  }

  .project__description {
    margin: 6rem 0 0;
    gap: 3rem;
  }

  .project__details {
    margin: 4rem 0 6rem;
  }
}

@media (max-width: 500px) {

  .project__link,
  .project__prototype {
    font-size: 2rem;
  }

  .project__image {
    figcaption {
      font-size: 1.2rem;
    }
  }
}