.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 12rem 6rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 17rem;
  width: 100%;
}

.main__title {
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  animation: titleAnimation 0.6s ease-out forwards;
  max-width: 95rem;

  span {
    display: block;
    margin: 0 auto;
    line-height: 1;
  }
}

.main__subtitle {
  margin-bottom: 6rem;
  text-align: center;
  opacity: 0;
  animation: titleAnimation 0.6s 0.3s ease-out forwards;
}

.main__projects {
  width: 100%;
}

@media (max-width: 600px) {
  .page {
    padding: 3rem 4rem;
  }

  .main {
    align-items: center;
    gap: 6rem;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 3rem 2rem;
  }
}

@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}