.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 9rem 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.main__title {
  max-width: 95rem;
  text-align: center;
  margin: 0 auto;

  span {
    display: none;
  }
}

.main__subtitle {
  margin-bottom: 6rem;
  text-align: center;
}

@media (max-width: 600px) {
  .page {
    padding: 3rem;
  }

  .main {
    align-items: center;
    gap: 6rem;
  }

  .main__title {
    span {
      display: inline;
    }
  }
  
}