.navbar {
  padding: 3rem;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: inline-flex;
    align-items: center;

    &-name-part {
      opacity: 0;
      overflow: hidden;
      max-width: 0;
      transition: all 1s ease-in-out;
    }

    &-position {
      opacity: 1;
      max-width: 30rem;
      margin-left: .5rem;
      padding-left: .5rem;
      color: var(--grey);
      font-size: 1.5rem;
      border-left: 1px solid var(--grey-50);
    }

    @media (hover: hover) {
      &:hover &-name-part {
        max-width: 100%;
        opacity: 1;
        padding-right: 0.5rem;
      }
    }
  }

  &__link {
    color: var(--foreground);
    text-decoration: none;
    padding: 0.5rem 0;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--foreground);
      opacity: 0;
      transform: translateY(5px);
      transition: opacity .3s cubic-bezier(.645, .045, .355, 1),
                  transform .3s cubic-bezier(.645, .045, .355, 1);
    }

    @media (hover: hover) {
      &:hover::after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: 600px) {
  .navbar__logo {
    .navbar__logo-name-part {
      max-width: 100%;
      opacity: 1;
      padding-right: 0.5rem;
    }

    .navbar__logo-position {
      display: none;
    }
  }
}