.slick {
  margin-bottom: 12rem;

  @media (hover: hover) {

    &:hover,
    &:focus,
    &:active {

      .slick_arrow__next,
      .slick_arrow__prev {
        opacity: 1;
      }
    }
  }
}

.slick_image {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;

  picture,
  img,
  source {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
  }
}

.slick_arrow__next,
.slick_arrow__prev {
  position: absolute;
  top: 50%;
  width: 16rem;
  height: 16rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 0;
  transition: all 0.3s;
  transform: translateY(-50%);
  opacity: 0;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &::before {
    content: '';
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    position: relative;
  }
}

.slick_arrow__next {
  right: -8rem;
  border-radius: 50% 0 0 50%;

  &::before {
    transform: rotate(-45deg);
    right: 3rem;
  }
}

.slick_arrow__prev {
  left: -8rem;
  border-radius: 0 50% 50% 0;

  &::before {
    transform: rotate(45deg) scaleX(-1);
    left: 3rem;
  }
}

@media (max-width: 800px) {
  .slick {
    margin-bottom: 9rem;
  }

  .slick_arrow__next,
  .slick_arrow__prev {
    display: none;
  }
}